@import '../../css/styles.scss'; 

.right_post{
    display: flex;
    align-items: center;
}

/*Texto*/
.text_right_post{
    width: 60%;
    display: block;
    align-items: center;
    padding: 2%;
}


/*Imagen*/

.container_picture_right_post{
    width: 40%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.picture_right_post{
    width: 80%;
    height: 80%
}