@import '../../css/styles.scss';

// Estilos top bar *********************************
.top-bar {
    background-color: $color-background-bar;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para alinear el logo y los iconos de forma más eficiente */
}

.logo_gov {
    flex: 1;
    height: auto;
}

.logo_gov a {
    display: block;
    width: 10%;
    margin-left: 10%; /* Margen izquierdo */
    
}

.logo_gov_img {
    height: 100%;
    width: auto; /* Ajusta el tamaño del logo */
    margin: 0 0 0 4%;
}

.bar-menu-social-media {
    display: none; /* Oculta en pantallas pequeñas */
}

.menu_social_link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

// Estilos barra principal ******************
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para alinear logo y menú de navegación */
}

.menu-bar {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 1.5rem;
}

// Configuración del logo
.logo_AE_img {
    width: 100%;
    height: 3rem; /* Ajusta según sea necesario */
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// Menú hamburguesa
@media (max-width: 1170px) {
    .bar-menu-social-media {
        display: flex; /* Muestra los iconos en pantallas pequeñas */
    }

    .nav-container {
        flex-direction: column;
    }

    .main_menu {
        display: none; /* Oculta el menú en pantallas pequeñas */
    }

    .logo_AE_img {
        display: none;  
    }

    .nav-container .menu-social_link {
        display: none; /* Opcional: si quieres ocultar los iconos en pantallas pequeñas */
    }

    .mobile-menu {
        display: block; /* Muestra el menú hamburguesa en pantallas pequeñas */
    }
}
