@import '../../css/styles.scss';

.top-bar {
    background-color: $color-background-bar;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.logo_gov {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin-left: 8rem;

    a {
        display: block;
        height: 100%;
    }

    .logo_gov_img {
        height: 65%;
        min-height: 30px;
        min-width: 150px;
        margin-top: 7%;
        margin-left: 45%;
        
    }
}

.bar-menu-social-media {
    display: flex;
    align-items: center;
    margin-right: 20%;
    
    .menu_social_link {
        display: flex;
        align-items: center;

        .item_social {
            margin-left: 5%;
            margin-right: 50%;
        }
    }
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}

.logo_AE_img {
    width: auto;
    height: 5rem;
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// Media queries para pantallas pequeñas
@media (max-width: 1428px) {

    .logo_gov {
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
        margin-left: 6rem;
    
        a {
            display: block;
            height: 100%;
        }
    
        .logo_gov_img {
            height: 55%;
            min-height: 30px;
            min-width: 150px;
            margin-top: 7%;
            margin-left: 5%;
            
        }
    }
    .bar-menu-social-media {
        display: flex;
    }

    .bar-menu-social-media {
        display: flex;
        align-items: center;
        margin-right: 15%;
        
        .menu_social_link {
            display: flex;
            align-items: center;
    
            .item_social {
                margin-left: 0%;
                margin-right: 10%;
            }
        }
    }

    .nav-container {
        flex-direction: column;
    }

    .main_menu, .logo_AE_img {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .logo_gov {
        margin-left: 1rem;

        .logo_gov_img {
            min-height: 20px;
            min-width: 90px;
        }
    }
}

@media (max-width: 1025px) {
    .bar-menu-social-media, .mobile-menu {
        display: flex;
    }

    .nav-container {
        flex-direction: column;
    }

    .main_menu, .logo_AE_img {
        display: none !important;
    }

    .logo_gov {
        margin-left: 1rem;

        .logo_gov_img {
            min-height: 20px;
            min-width: 90px;
        }
    }
}