@import '../../css/styles.scss';



.content_text_anonymous{
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Poppins", Helvetica, sans-serif;
}

.text_label{
    font-size: 1.5rem !important;
    font-family: "Poppins", Helvetica, sans-serif;
}