@import '../../css/styles.scss';

.container_direction{
    display: block;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid $color-border;
}

.container_direction_inter{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
}
.sub_item_direction{
    margin: 0.5rem;
    width: 33%;
}


.text_direction{
    font-size: 2rem;
    width: 100%;
}

.text_direction_small{
    font-size: 2rem !important;
    width: 100%;
}

.input_text_direction{
    font-size: 1.5rem !important;
    width: 100%;
}

.input_text_direction_small{
    font-size: 1.5rem !important;
    width: 48%;
}