@import '../../css/styles.scss';


/*Photos*/

.container_photos{
    width: 100%;
    height: auto;
}

.container_picture_gallery_photos{
    padding: 1%;
}

.link_gallery_photos {
    width: 95%;
    height: 95%;
}

.picture_gallery_photos{
    width: 95%;
    height: 95%;
    border-radius: 15px;
    box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.6);
    transition: box-shadow 0.3s ease;
}

.picture_gallery_photos:hover {
    box-shadow: 0 0.8rem 1.6rem rgba($color-background-bar,0.8);
    width: 100%;
    height: 100%;
}